<?xml version="1.0" encoding="UTF-8"?>
<!-- Belsnickel insists that tests run the same way for everyone. -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="bootstrap.php"
         colors="true"
         failOnWarning="true"
         failOnRisky="true"
         cacheDirectory=".phpunit.cache">
    <testsuites>
        <testsuite name="Party Planning Committee">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
    <coverage>
        <report>
            <cobertura outputFile="build/coverage/cobertura.xml"/>
        </report>
    </coverage>
</phpunit>
